@font-face {
  font-family: "King Basil";
  src: url("../font/King-Basil.ttf");
}

@font-face {
  font-weight: normal;
  font-family: "Baskerville";
  src: url("../font/LibreBaskerville-Regular.ttf");
}

body {
  font-family: "Baskerville";
  font-size: 16px;
  color: #44535d;
  margin: 0;
}

.king-basil {
  font-family: "King Basil";
}

a, a:visited, a:link, a:active {
  text-decoration: none;
  color: #e68fc3;
  cursor: pointer;
}

a:hover {
  border-bottom: 1px dashed;
}
